/* Version Desktop */

/* Eléments principaux de la page */

@font-face 
{
  font-family:'Raleway';
  src: url('Raleway-Regular.ttf');
  src: url('Raleway-Medium.ttf');
  src: url('Raleway-Bold.ttf');
  src: url('Raleway-Light.ttf');
}

body
{
    font-family:'Raleway', sans-serif;
}


/* Header */

.header
{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.logo
{
  margin: 20px 0 0px 50px
}


/*Navigation*/

nav
{
  display: flex;
  flex-direction: row-reverse;
  margin: 36px 50px 20px 20px;
}

nav a
{
  text-decoration: none;
  color: black;   
}

nav a:hover
{
  color: #0065FC; 
}

.accomodations
{
  padding-right: 15px;
  padding-left: 15px;
  font-size: 18px;
}

.activities
{
  padding-right: 15px;
  padding-left: 15px;
  font-size: 18px;
  margin-left: 30px;
}

.accomodations:hover
{
  border-top-style: solid; 
  border-top-color: #0065FC;
  padding-top: 43px;
  color: #0065FC;
}

.activities:hover
{
  border-top-style: solid; 
  border-top-color: #0065FC;
  padding-top: 43px;
  color: #0065FC; 
}

.singin
{
  color: #0065FC;
  padding-left: 15px;
  margin-left: 30px;
  font-size: 18px;
}

.titles
{
  line-height: 17px;
  margin-left: 50px 
}

.titles h1
{
  font-size: 25px;
}

.titles h2
{
  font-size: 18px;
  font-weight: normal;  
}

.recherche-box
{
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-bottom: 15px;
}

.recherche-box button
{
  color: white;
  font-weight: bold;
  background-color: #0065fc;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  padding: 15px 17px 15px 17px;
  font-size: 20px;
  border: none;
}

#recherche
{
  height: 55px;
  width: 270px;
  border-color: #ededed;
  border-style: solid;
  border-width: 1.5px;
}

.map-marker
{
  color: black;
  background: #ededed;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  padding: 15px 19px 16px 19px;
  font-size: 20px;
}

.search
{
  color: transparent;
}

input
{
  font-weight: bold;
  font-size: 20px;
  padding-left: 15px;
  font-family:'Raleway', sans-serif;
}

/*Filtres*/

.filters-section /*conteneur général*/
{
  display: flex;
  margin-left: 50px;
}

.filters-section h2
{
  font-size: 20px
}

.filters-box /*conteneur boutons filtres*/
{
  display: flex;
  flex-wrap: wrap;
}

.filters-button /*conteneur gris*/
{
  display: flex;
  align-items: center;
  margin-left: 32px;
  border: 2px solid #dbdddf;
  border-radius: 45px; 
  height: 50px;
  font-weight: bold;
  color: black;
}

.filters-button:hover
{
  background-color: #0065fc;
  color: white;
}

.filters-box a /*texte des boutons*/
{
  text-decoration: none;
}

.filters-button i /*icones boutons*/
{
  padding: 15px;
  color: #0065fc;
  background: #deebff;
  border-radius: 25px;
  font-size: 20px;
}

.filters-button p
{
  font-size: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.iconchild
{
  background-color: #deebff;
  padding: 0 5px 0px 5px;
  border-radius: 25px;
}

.information
{
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-top: 20px;
}

.information i
{
  margin-right: 16px;
  font-size: 22px;
  color: #0065fc;   
}

.information p
{
  font-size: 18px
}


/*Hébergements à Marseille*/

.section-1/*Bloc hébergement + Les plus populaires*/
{
  display: flex;
  justify-content: space-between;
  margin: 20px 50px 50px 50px;
}

.hebergements /*Bloc gris hébergement*/
{
  width: 100%;
  padding: 25px 30px 30px 30px;
  background-color: #ededed;
  border-radius: 25px;
  margin-right: 50px;
}

.hebergements h2 
{
  margin-left: 20px;
  margin-bottom: 6px;
  font-size: 25px;
}

.hebergements-box /*Bloc des cartes hébergements*/
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hebergements-card
{
  background-color: white;
  width: 320px;
  height: 265px;
  border-radius: 25px;
  border-style: solid;
  border-width: 5px;
  border-color: white; 
  margin: 20px;
  box-shadow: 0 2px 20px #cccccc;
  transition: .2s; 
}

.hebergements-card:hover
{
  transform: scale(1.05);
}

.hebergements-card img 
{
  width: 100%;
  height: 155px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; 
}

.hebergements-card h3
{
  font-size: 22px;
  padding-left: 15px;
  margin-top: 10px;
  color: black;
}

.hebergements-card p
{
  font-size: 20px;
  color: black;
  padding-left: 15px;
  line-height: 3px;
}

.hebergements-card a
{
  text-decoration: none;
}

.stars
{
  color: #0065fc;
  font-size: 17px;
  text-decoration: none;
  padding-left: 15px;
  padding-bottom: 6px;
}

.greystars
{
  color: #dbdddf;
}

.afficher-plus
{
  padding-top: 22px;
  padding-left: 16px;
  font-weight: bold;
  font-size: 20px;  
}

.afficher-plus a
{
  text-decoration: none;
  color: black;
}

.afficher-plus a:hover
{
  color: #0065fc;
}


/*Les plus populaires*/

.les-plus-populaires
{
  width: 500px;
  padding: 25px 30px 30px 30px;
  background-color: #ededed;
  border-radius: 25px;
}

.les-plus-populaires-title
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.les-plus-populaires-title h2 
{
  margin-left: 25px;
  font-size: 25px;
  margin-bottom: 6px;
}

.les-plus-populaires-title i
{
  margin-right: 25px;
  font-size: 25px;
  padding-top: 10px;
}


.les-plus-populaires-box
{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.les-plus-populaires-card
{
  display: flex;
  background-color: white;
  width: 440px;
  height: 190px;
  margin: 20px;
  border-radius: 22px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  box-shadow: 0 2px 20px #cccccc;
  transition: .2s;  
}

.les-plus-populaires-card:hover
{
  transform: scale(1.05);
}

.les-plus-populaires-card a
{
  text-decoration: none;
  display: flex;
}

.les-plus-populaires-card img 
{
  width: 180px;
  height: 190px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; 
}

.les-plus-populaires-text
{
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.les-plus-populaires-text h3
{
  font-size: 22px;
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: black;
}

.les-plus-populaires-text p
{
  font-size: 20px;
  color: black;
  padding-left: 20px;
  margin-top: 1px;
  margin-bottom: 40px;
}

.stars-pp
{
  color: #0065fc;
  font-size: 17px;
  text-decoration: none;
  padding-left: 20px;
  margin-top: 15px;
}



/*Activités à Marseille*/

.activites-box
{
  display: flex;
  justify-content: space-between;
  margin: 0 50px 40px 50px;
  flex-wrap: wrap;
}

.section-2 h2
{
  margin: 0 0 25px 50px;
  font-size: 25px;
}

.activites-card-1-4
{
  background-color: white;
  width: 400px;
  height: 540px;
  border-radius: 25px;
  box-shadow: 0 2px 20px #dedede;
  transition: .2s; 
}

.activites-card-1-4:hover
{
  transform: scale(1.05);
}

.activites-card-1-4 img
{
  width: 400px;
  height: 470px;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px; 
}

.activites-box-2-3
{
  display: flex;
  flex-direction: column;
}

.activites-card-2
{
  background-color: white;
  width: 400px;
  height: 270px;
  border-radius: 25px;
  margin-bottom: 45px;
  box-shadow: 0 2px 20px #dedede;
  transition: .2s; 
}

.activites-card-2:hover
{
  transform: scale(1.05);
}

.activites-card-2 img
{
  width: 400px;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px; 
}

.activites-card-3
{
  background-color: white;
  width: 400px;
  height: 220px;
  border-radius: 25px;
  box-shadow: 0 2px 20px #dedede;
  transition: .2s; 
}

.activites-card-3:hover
{
  transform: scale(1.05);
}

.activites-card-3 img
{
  width: 400px;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px; 
}

.activites-box-5-6
{
  display: flex;
  flex-direction: column;
}

.activites-card-5
{
  background-color: white;
  width: 400px;
  height: 240px;
  border-radius: 25px;
  box-shadow: 0 2px 20px #dedede;
  transition: .2s; 
}

.activites-card-5:hover
{
  transform: scale(1.05);
}

.activites-card-5 img
{
  width: 400px;
  height: 170px;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px; 
}

.activites-card-6
{
  background-color: white;
  width: 400px;
  height: 250px;
  border-radius: 25px;
  margin-top: 45px;
  box-shadow: 0 2px 20px #dedede;
  transition: .2s; 
}

.activites-card-6:hover
{
  transform: scale(1.05);
}

.activites-card-6 img
{
  width: 400px;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px; 
}

.activites-box h3
{
  font-size: 20px;
  color: black;
  padding-left: 23px;
}

.activites-box a
{
  text-decoration: none;
}


/* Footer */

#footer-box
{
  display: flex;
  background-color: #ededed;
  position: absolute;
  right: 0px; left: 0px;
  width: 100%;
  margin-top: 32px;
  padding: 30px 0 30px 0;
}

.footer-menu
{
  width: 560px;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  line-height: 35px;
  margin-left: 50px;
}

.footer-title
{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 7px;
}

.footer-menu a
{
  text-decoration: none;
  color: black;
}

.footer-menu a:hover
{
  color: #0065fc;
}


/*-----------------------Version Tablette----------------------*/

@media all and (min-width: 768px) and (max-width: 1024px)
{

.logo
{
  margin: 20px 0 0px 30px
}

nav ul
{
  margin-right: 0px;
}

.titles
{
  margin-left: 30px; 
}

.recherche-box
{
  margin-left: 30px;
  margin-bottom: 0px;
}

/*Filtres*/

.filters-section /*conteneur général*/
{
  align-items: start;
  margin-left: 0px;
  flex-direction: column;
}

.filters-section h2
{
  margin-left: 30px;
}

.filters-button /*conteneur gris*/
{
  margin-bottom: 20px; 
}

.information
{
  margin-top: 0px;
  margin-left: 30px;
}

.section-1/*Bloc hébergement + Les plus populaires*/
{
  flex-direction: column-reverse;
  margin: 20px 0px 20px 0px;
}

.hebergements /*Bloc gris hébergement*/
{
  background: none;
  width: 100%;
  padding: 0px 0px 0px 0px;
  margin-right: 0px;
}

.hebergements-box /*Bloc des cartes hébergements*/
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 30px;
}

.hebergements-card
{
  width: 320px; 
  height: 265px;
  margin: 0px; 
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.hebergements h2 
{
  margin-left: 30px;
  margin-bottom: 6px;
}

.afficher-plus
{
  padding-top: 5px;
  margin-left: 30px;
}

/* Les plus populaires */

.les-plus-populaires
{
  width: 100%;
  margin-bottom: 30px;
  padding: 25px 10px 30px 10px;
  border-radius: 0px;
}

.les-plus-populaires-card
{
  width: 685px;
  height: 150px;
}

.les-plus-populaires-card img 
{
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; 
}

.les-plus-populaires-text p
{
  font-size: 20px;
  color: black;
  padding-left: 20px;
  margin-top: 1px;
  margin-bottom: 20px;
}

.stars-pp
{
  margin-top: 25px;
}


/* Activités à Marseille */

.section-2 h2
{
  margin: 0 0 25px 30px;
  font-size: 25px;
}

.activites-box
{
  flex-wrap: wrap;
  margin: 0 20px 20px 30px;
}

.activites-card-1-4
{
  width: 330px;
  height: 505px;
}

.activites-card-1-4 img
{
  width: 100%;
  height: 430px;
}

.activites-card-2
{
  width: 330px;
  height: 230px;
}

.activites-card-2 img
{
  width: 100%;
  height: 155px;
}

.activites-card-3
{
  width: 330px;
  height: 230px;
  margin-bottom: 50px;
}

.activites-card-3 img
{
  width: 100%;
  height: 155px;
}

.activites-card-5
{
  width: 330px;
  height: 230px;
}

.activites-card-5 img
{
  width: 100%;
  height: 155px;
}

.activites-card-6
{
  width: 330px;
  height: 230px;
}

.activites-card-6 img
{
  width: 100%;
  height: 155px;
}

}





/*-----------------------Version Smartphone----------------------*/

@media all and (min-width: 375px) and (max-width: 667px)
{

.logo
{
  margin: 20px 0 0px 15px
}

nav
{
  flex-direction: row;
  margin: 36px 50px 20px 20px;
}

nav a
{
  text-decoration: none;
  color: black;   
}

nav a:hover
{
  color: #0065FC; 
}

.navigation
{

} 

.titles
{
  margin-left: 15px;
  line-height: 17px; 
}

.titles h1
{
  font-size: 23px;
  line-height: 25px;
}

.titles h2
{
  font-size: 17px;
  font-weight: normal;  
}

.recherche-box
{
  margin-left: 15px;
}

.recherche-box button
{
  color: transparent;
  background-color: transparent;
}

#recherche
{
  width: 230px;
}

.search
{
  color: white;
  background-color: #0065fc;
  position: absolute;
  border-radius: 17px;
  padding: 16px 19px 16px 19px;
  font-size: 20px;
  margin-left: 273px;
}


/*Filtres*/

.filters-section /*conteneur général*/
{
  flex-direction: column;
  margin-left: 15px;
}

.filters-section h2
{
  margin-left: 0px;
}

.filters-button /*conteneur gris*/
{
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 10px;
  height: 45px; 
}

.filters-button i /*icones boutons*/
{
  padding: 15px;
  font-size: 17px;
}

.filters-button p
{
  font-size: 17px;
  padding-right: 12px;
  padding-left: 12px;
}

.iconchild
{
  padding: 0 2px 0px 2px;
}

.information
{
  margin-top: 0px;
  margin-left: 15px;
}

.information i
{
  margin-right: 16px;
  padding-bottom: 17px;
  font-size: 19px;  
}

.information p
{
  font-size: 16px
}

.section-1/*Bloc hébergement + Les plus populaires*/
{
  flex-direction: column-reverse;
  margin: 0px 0px 0px 0px;
}

.hebergements /*Bloc gris hébergement*/
{
  background: none;
  width: 100%;
  padding: 0px 0px 0px 0px;
  margin-right: 0px;
}

.hebergements-box /*Bloc des cartes hébergements*/
{
  justify-content: none;
  margin-left: 15px;
}

.hebergements-card
{
  width: 320px; 
  height: 205px;
  margin: 0px; 
  margin-bottom: 0px;
  margin-top: 15px;
  margin-right: 0px;

}

.hebergements h2 
{
  margin-left: 15px;
  margin-bottom: 6px;
  font-size: 23px;
}

.hebergements-card img 
{
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.hebergements-card h3
{
  font-size: 17px;
  margin-top: 5px;
}

.hebergements-card p
{
  font-size: 15px;
}

.stars
{
  font-size: 13px;
}


.afficher-plus
{
  padding-top: 20px;
  margin-left: 0px;
  font-size: 19px;
}

/* Les plus populaires */

.les-plus-populaires
{
  width: 100%;
  margin-bottom: 30px;
  padding: 0px 0px 40px 0px;
  border-radius: 0px;
}

.les-plus-populaires-title h2 
{
  margin-left: 15px;
  font-size: 23px;
}

.les-plus-populaires-title i
{
  margin-right: 15px;
  font-size: 23px;
}

.les-plus-populaires-card
{
  width: 320px;
  height: 130px;
  margin: 0px;
  margin-top: 15px;
}

.les-plus-populaires-card img 
{
  width: 125px;
  height: 130px;
}

.les-plus-populaires-text h3
{
  font-size: 17px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 8px;
  color: black;
}

.les-plus-populaires-text p
{
  font-size: 15px;
  color: black;
  padding-left: 20px;
  margin-top: 1px;
  margin-bottom: 20px;
}

.stars-pp
{
  margin-top: 15px;
  font-size: 12px;
}


/* Activités à Marseille */

.section-2 h2
{
  margin: 40px 0 25px 15px;
  font-size: 23px; 
}

.activites-box
{
  margin: 0 0px 0px 15px;
}

.activites-card-1-4
{
  width: 330px;
  height: 190px;
  margin-bottom: 20px;
}

.activites-card-1-4 img
{
  width: 100%;
  height: 135px;
}

.activites-card-2
{
  width: 330px;
  height: 230px;
}

.activites-card-2 img
{
  width: 100%;
  height: 155px;
}

.activites-card-3
{
  width: 330px;
  height: 230px;
  margin-bottom: 50px;
}

.activites-card-3 img
{
  width: 100%;
  height: 155px;
}

.activites-card-5
{
  width: 330px;
  height: 230px;
}

.activites-card-5 img
{
  width: 100%;
  height: 155px;
}

.activites-card-6
{
  width: 330px;
  height: 230px;
}

.activites-card-6 img
{
  width: 100%;
  height: 155px;
}

.activites-box h3
{
  font-size: 17px;
  margin-top: 12px;
}

#footer-box
{
  flex-direction: column;
  padding: 30px 0 20px 0;
}

.footer-menu
{
  margin-bottom: 25px;
}


}