/* Version Desktop */

/* Eléments principaux de la page */

@font-face 
{
  font-family:'Raleway';
  src: url('Raleway/Raleway-Bold.ttf');
  src: url('Raleway/Raleway-Medium.ttf');
}

body
{
  font-family:'Raleway', sans-serif;
  margin: 0 0 0 0;
}

/* Header */

header
{
  display: flex;
}

.logo
{
  margin: 1.9% 0 0 2.5%;
  position: absolute;
}

/*Navigation*/

.navigation
{
  display: flex;
  flex-direction: row-reverse;
  margin: 2.65% 2.8% 0 0;
}

.navigation a
{
  text-decoration: none;
  color: black;   
}

.singin
{
  margin-left: 51px;
  font-size: 18px;
}

.singin a
{
  color: #0065FC;
}

.ancres
{
  display: flex;
  flex-direction: row;
}

.accomodations
{
  padding-right: 23px;
  padding-left: 23px;
  font-size: 18px;
}

.accomodations:hover
{
  border-top-style: solid; 
  border-top-color: #0065FC;
  padding-top: 47px;
  color: #0065FC;
}

.activities
{
  padding-right: 23px;
  padding-left: 23px;
  font-size: 18px;
  margin-left: 30px;
}

.activities:hover
{
  border-top-style: solid; 
  border-top-color: #0065FC;
  padding-top: 47px;
  color: #0065FC; 
}

/* Section-1 */

.titles
{
  line-height: 100%;
  margin: 2.5% 0 0 2.5%;
}

.titles h1
{
  font-size: 25px;
}

.titles h2
{
  font-size: 18px;
  font-weight: normal;  
}

.recherche-box
{
  display: flex;
  align-items: center;
  margin-left: 2.5%;
  margin-bottom: 1%;
}

input:focus, button:focus
{
  outline: none;
}

.recherche-box button
{
  color: white;
  font-weight: bold;
  background-color: #0065fc;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  padding: 18px 17px 18px 17px;
  font-size: 20px;
  border: none;
}

#recherche
{
  height: 55px;
  width: 270px;
  border-color: #ededed;
  border-style: solid;
  border-width: 1.5px;
}

.map-marker
{
  color: black;
  background: #ededed;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  padding: 18px 22px 18px 22px;
  font-size: 20px;
}

.search
{
  color: transparent;
}

input
{
  font-weight: bold;
  font-size: 20px;
  padding-left: 15px;
  font-family:'Raleway', sans-serif;
}

/*Filtres*/

.filters-section /*conteneur général*/
{
  display: flex;
  margin-left: 2.5%;
}

.filters-section h2
{
  font-size: 20px
}

.filters-box /*conteneur boutons filtres*/
{
  display: flex;
  flex-wrap: wrap;
}

.filters-button /*conteneur gris*/
{
  display: flex;
  align-items: center;
  margin-left: 32px;
  border: 2px solid #ededed;
  border-radius: 45px; 
  height: 50px;
  font-weight: bold;
  color: black;
}

.filters-button:hover
{
  background-color: #0065fc;
  color: white;
}

.filters-box a /*texte des boutons*/
{
  text-decoration: none;
}

.filters-button i /*icones boutons*/
{
  padding: 15px;
  color: #0065fc;
  background: #deebff;
  border-radius: 25px;
  font-size: 20px;
}

.filters-button p
{
  font-size: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.iconchild
{
  background-color: #deebff;
  padding: 0 5px 0px 5px;
  border-radius: 25px;
}

.information
{
  display: flex;
  align-items: center;
  margin-left: 2.5%;
  margin-top: 1%;
}

.information i
{
  margin-right: 16px;
  font-size: 22px;
  color: #0065fc;   
}

.information p
{
  font-size: 18px
}

/*Hébergements à Marseille*/

.section-2/*Bloc hébergement + Les plus populaires*/
{
  display: flex;
  justify-content: space-between;
  margin: 1% 2.5% 2.5% 2.5%;
}

.hebergements /*Bloc gris hébergement*/
{
  width: 100%;
  padding: 1.5% 2% 2% 2%;
  background-color: #ededed;
  border-radius: 25px;
  margin-right: 50px;
}

.hebergements h2 
{
  margin-left: 2%;
  margin-bottom: 0.6%;
  font-size: 25px;
}

.hebergements-box /*Bloc des cartes hébergements*/
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hebergements-card
{
  background-color: white;
  width: 320px;
  height: 265px;
  border-radius: 25px;
  border: 5px solid white;
  margin: 2%;
  box-shadow: 0 2px 20px #cccccc;
  transition: .2s; 
}

.hebergements-card:hover
{
  transform: scale(1.05);
}

.hebergements-card img 
{
  width: 100%;
  height: 155px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; 
}

.hebergements-card h3
{
  font-size: 22px;
  padding-left: 5%;
  margin-top: 3%;
  color: black;
}

.hebergements-card p
{
  font-size: 20px;
  color: black;
  padding-left: 5%;
  line-height: 3px;
}

.hebergements-card a
{
  text-decoration: none;
}

.stars
{
  color: #0065fc;
  font-size: 17px;
  text-decoration: none;
  padding-left: 5%;
  padding-bottom: 2%;
}

.greystars
{
  color: #dbdddf;
}

.afficher-plus
{
  margin-top: 3%;
  margin-left: 2%;
  font-weight: bold;
  font-size: 20px;  
}

.afficher-plus a
{
  text-decoration: none;
  color: black;
}

.afficher-plus a:hover
{
  color: #0065fc;
}

/*Les plus populaires*/

.les-plus-populaires
{
  width: 500px;
  padding: 25px 30px 30px 30px;
  background-color: #ededed;
  border-radius: 25px;
}

.les-plus-populaires-title
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.les-plus-populaires-title h2 
{
  margin-left: 5%;
  font-size: 25px;
  margin-bottom: 1.5%;
  padding-top: 0.5%;
}

.les-plus-populaires-title i
{
  margin-right: 5%;
  margin-top: 3%;
  font-size: 25px;
}

.les-plus-populaires-box
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.les-plus-populaires-card
{
  display: flex;
  background-color: white;
  width: 440px;
  height: 190px;
  margin: 4.3%;
  border-radius: 22px;
  border: 5px solid white;
  box-shadow: 0 2px 20px #cccccc;
  transition: .2s;  
}

.les-plus-populaires-card:hover
{
  transform: scale(1.05);
}

.les-plus-populaires-card a
{
  text-decoration: none;
  display: flex;
}

.les-plus-populaires-card img 
{
  width: 180px;
  height: 190px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.les-plus-populaires-text
{
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}
.les-plus-populaires-text h3
{
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: black;
}

.les-plus-populaires-text p
{
  font-size: 20px;
  color: black;
  margin-top: 1%;
  margin-bottom: 40px;
}

.stars-pp
{
  color: #0065fc;
  font-size: 17px;
  text-decoration: none;
  margin-top: 15px;
}

/*Activités à Marseille*/

.section-3 h2
{
  margin: 0 0 1.5% 2.5%;
  font-size: 25px;
}

.activites-box
{
  display: flex;
  justify-content: space-between;
  margin: 0 2.5% 2% 2.5%;
  flex-wrap: wrap;
}

.activites-card-1-4
{
  background-color: white;
  width: 400px;
  height: 540px;
  border-radius: 25px;
  box-shadow: 0 2px 20px #dedede;
  transition: .2s; 
}

.activites-card-1-4:hover
{
  transform: scale(1.05);
}

.activites-card-1-4 img
{
  width: 100%;
  height: 470px;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px; 
}

.activites-box-2-3
{
  display: flex;
  flex-direction: column;
}

.activites-card-2
{
  background-color: white;
  width: 400px;
  height: 270px;
  border-radius: 25px;
  margin-bottom: 45px;
  box-shadow: 0 2px 20px #dedede;
  transition: .2s; 
}

.activites-card-2:hover
{
  transform: scale(1.05);
}

.activites-card-2 img
{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px; 
}

.activites-card-3
{
  background-color: white;
  width: 400px;
  height: 220px;
  border-radius: 25px;
  box-shadow: 0 2px 20px #dedede;
  transition: .2s; 
}

.activites-card-3:hover
{
  transform: scale(1.05);
}

.activites-card-3 img
{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px; 
}

.activites-box-5-6
{
  display: flex;
  flex-direction: column;
}

.activites-card-5
{
  background-color: white;
  width: 400px;
  height: 240px;
  border-radius: 25px;
  box-shadow: 0 2px 20px #dedede;
  transition: .2s; 
}

.activites-card-5:hover
{
  transform: scale(1.05);
}

.activites-card-5 img
{
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px; 
}

.activites-card-6
{
  background-color: white;
  width: 400px;
  height: 250px;
  border-radius: 25px;
  margin-top: 45px;
  box-shadow: 0 2px 20px #dedede;
  transition: .2s; 
}

.activites-card-6:hover
{
  transform: scale(1.05);
}

.activites-card-6 img
{
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px; 
}

.activites-box h3
{
  font-size: 20px;
  color: black;
  padding-left: 6%;
}

.activites-box a
{
  text-decoration: none;
}

/* Footer */

#footer-box
{
  display: flex;
  background-color: #ededed;
  width: 100%;
  margin-top: 4%;
  padding: 2.5% 0 2% 0;
}

.footer-menu
{
  width: 30%;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  line-height: 35px;
  margin-left: 2.5%;
}

.footer-title
{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2%;
}

.footer-menu a
{
  text-decoration: none;
  color: black;
}

.footer-menu a:hover
{
  color: #0065fc;
}




/*-----------------------Version Tablette----------------------*/

@media all and (min-width: 768px) and (max-width: 1024px)
{

  .logo
  {
    margin: 4% 0 0 4%;
  }

  .navigation
  {
    margin: 6% 4% 0 0;
  }

  .accomodations:hover
  {
    padding-top: 43px;
  }

  .activities:hover
  {
    padding-top: 43px;
  }

  .titles
  {
    margin: 7% 0 0 4%;
  }

  .recherche-box
  {
    margin-left: 4%;
    margin-bottom: 0%;
  }

  /*Filtres*/

  .filters-section /*conteneur général*/
  {
    margin-left: 4%;
    flex-direction: column;
  }

  .filters-button /*conteneur gris*/
  {
    margin-bottom: 8%;
    margin-left: 0px; 
    margin-right: 32px;
  }

  .information
  {
    margin-top: 0px;
    margin-left: 4%;
  }

  .section-2
  {
    flex-direction: column-reverse;
    margin: 3% 0 3% 0;
  }

  /* Les plus populaires */

  .les-plus-populaires
  {
    width: 100%;
    margin-bottom: 3%;
    padding: 25px 0px 40px 0px;
    border-radius: 0px;
  }

  .les-plus-populaires-title h2 
  {
    margin-left: 4%;
    margin-bottom: 1%;
  }

  .les-plus-populaires-title i
  {
    margin-right: 4.5%;
  }

  .les-plus-populaires-card
  {
    width: 700px;
    height: 150px;
    margin: 2.5%;
  }

  .les-plus-populaires-card img 
  {
    width: 200px;
    height: 150px;
  }

  .stars-pp
  {
    margin-top: 1%;
  }

  .hebergements /*Bloc gris hébergement*/
  {
    background: none;
    padding: 0 0 0 0;
    margin-right: 0px;
  }

  .hebergements h2 
  {
    margin-left: 4%;
  }

  .hebergements-box /*Bloc des cartes hébergements*/
  {
    margin: 0 4% 0 4%;
  }

  .hebergements-card
  {
    margin: 0%; 
    margin-top: 3%;
  }

  .afficher-plus
  {
    margin-left: 4.5%;
    margin-top: 4%;
  }

  /* Activités à Marseille */

  .activites-box
  {
    margin: 0 4% 6% 4%;
  }

  .section-3 h2
  {
    margin: 0 0 4% 4%;
  }

  .activites-card-1-4
  {
    width: 330px;
    height: 505px;
  }

  .activites-card-1-4 img
  {
    height: 430px;
  }

  .activites-card-2
  {
    width: 330px;
    height: 230px;
  }

  .activites-card-2 img
  {
    height: 155px;
  }

  .activites-card-3
  {
    width: 330px;
    height: 230px;
    margin-bottom: 50px;
  }

  .activites-card-3 img
  {
    height: 155px;
  }

  .activites-card-5
  {
    width: 330px;
    height: 230px;
  }

  .activites-card-5 img
  {
    height: 155px;
  }

  .activites-card-6
  {
    width: 330px;
    height: 230px;
  }

  .activites-card-6 img
  {
    height: 155px;
  }

  #footer-box
  {
    padding: 5% 0 5% 0;
  }

  .footer-menu
  {
    width: 100%;
    margin-left: 4%;
  }
}





/*-----------------------Version Smartphone----------------------*/

@media all and (min-width: 375px) and (max-width: 667px)
{

  .logo
  {
    margin: 20px 0 50px 22px;
  }

  /*Navigation*/

  .navigation
  {
    flex-direction: column;
    margin: 9.2% 0 0 0;
  }

  .singin
  {
    margin-left: 72%;
  }

  .ancres
  {
    margin: 9.3% 0 0 0;
  }

  .accomodations
  {
    padding: 0 34px 15px 34px;
    border-bottom-style: solid;
    border-bottom-color: #ededed;
  }

  .accomodations:hover
  {
    border-bottom-style: solid;
    border-bottom-color: #0065FC;
    border-top-style: none;
    border-top-color: transparent;
    padding-top: 0;
  }

  .accomodations a:hover
  {
    color: #0065FC;
  }

  .activities
  {
    padding: 0 54px 15px 54px;
    margin-left: 0;
    border-bottom-style: solid;
    border-bottom-color: #ededed;
  }

  .activities:hover
  {
    border-bottom-style: solid;
    border-bottom-color: #0065FC;
    border-top-style: none;
    border-top-color: transparent;
    padding-top: 0; 
  }

  .activities a:hover
  {
    color: #0065FC;
  }

  .titles
  {
    margin-left: 6%;
    margin-top: 15%;
  }

  .titles h1
  {
    font-size: 23px;
    line-height: 115%;
  }

  .titles h2
  {
    font-size: 17px;  
  }

  .recherche-box
  {
    margin-left: 6%;
    margin-bottom: 0;
    margin-top: 6%; 
  }

  .recherche-box button
  {
    color: transparent;
    background-color: transparent;
    position: absolute;
  }

  #recherche
  {
    width: 220px;
  }

  .search
  {
    color: white;
    background-color: #0065fc;
    position: absolute;
    border-radius: 17px;
    padding: 18px 21px 17px 21px;
    font-size: 20px;
    margin-left: 71%;
  }

  input
  {
    font-size: 18px;
  }

  /*Filtres*/

  .filters-section /*conteneur général*/
  {
    flex-direction: column;
    margin-left: 6%;
  }

  .filters-section h2
  {
    margin-left: 0;
  }

  .filters-button /*conteneur gris*/
  {
    margin-bottom: 7%;
    margin-left: 0;
    margin-right: 10px;
    height: 45px; 
  }

  .filters-button i /*icones boutons*/
  {
    padding: 15px;
    font-size: 17px;
  }

  .filters-button p
  {
    font-size: 17px;
    padding-right: 12px;
    padding-left: 12px;
  }

  .iconchild
  {
    padding: 0 2px 0 2px;
  }

  .information
  {
    margin-top: 0;
    margin-left: 6%;
    margin-bottom: 6%;
  }

  .information i
  {
    margin-right: 16px;
    padding-bottom: 17px;
    font-size: 22px;  
  }

  .information p
  {
    font-size: 16px
  }

  .section-2/*Bloc hébergement + Les plus populaires*/
  {
    flex-direction: column-reverse;
    margin: 0 0 0 0;
  }

  /* Les plus populaires */

  .les-plus-populaires
  {
    width: 100%;
    margin-bottom: 5%;
    padding: 20px 0px 40px 0px;
    border-radius: 0px;
  }

  .les-plus-populaires-title 
  {
    padding-bottom: 5px;
  }

  .les-plus-populaires-title h2 
  {
    margin-left: 6%;
    font-size: 23px;
  }

  .les-plus-populaires-title i
  {
    margin-right: 6%;
    padding-top: 1%;
    font-size: 23px;
  }

  .les-plus-populaires-card
  {
    width: 320px;
    height: 130px;
    margin: 0;
    margin-top: 4%;
  }

  .les-plus-populaires-card img 
  {
    width: 125px;
    height: 130px;
  }

  .les-plus-populaires-text
  {
    margin-left: 6%;
  }

  .les-plus-populaires-text h3
  {
    font-size: 17px;
    margin-top: 5%;
    margin-bottom: 5%;
    color: black;
  }

  .les-plus-populaires-text p
  {
    font-size: 15px;
    color: black;
    margin-top: 0.5%;
    margin-bottom: 11%;
  }

  .stars-pp
  {
    margin-top: 8%;
    font-size: 12px;
  }

  .hebergements /*Bloc gris hébergement*/
  {
    background: none;
    width: 100%;
    padding: 0 0 0 0;
    margin-right: 0;
  }

  .hebergements-box /*Bloc des cartes hébergements*/
  {
    flex-direction: column;
    align-items: center;
  }

  .hebergements-card
  {
    width: 320px; 
    height: 205px;
    margin: 0; 
    margin-bottom: 0;
    margin-top: 4%;
    margin-right: 0;
  }

  .hebergements h2 
  {
    margin-left: 6%;
    margin-bottom: 1.5%;
    font-size: 23px;
  }

  .hebergements-card img 
  {
    width: 100%;
    height: 120px;
    object-fit: cover;
  }

  .hebergements-card h3
  {
    font-size: 17px;
    margin-top: 2%;
  }

  .hebergements-card p
  {
    font-size: 15px;
  }

  .stars
  {
    font-size: 13px;
  }

  .afficher-plus
  {
    margin-top: 10%;
    margin-left: 6%;
    font-size: 19px;
  }

  /* Activités à Marseille */

  .section-3 h2
  {
    margin: 10% 0 8% 6%;
    font-size: 23px;
  }

  .activites-box
  {
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 0;
  }

  .activites-card-1-4
  {
    width: 330px;
    height: 190px;
    margin-bottom: 25px;
  }

  .activites-card-1-4 img
  {
    height: 135px;
  }

  .activites-card-2
  {
    width: 330px;
    height: 190px;
    margin-bottom: 25px;
  }

  .activites-card-2 img
  {
    height: 135px;
  }

  .activites-card-3
  {
    width: 330px;
    height: 190px;
    margin-bottom: 25px;
  }

  .activites-card-3 img
  {
    height: 135px;
  }

  .activites-card-5
  {
    width: 330px;
    height: 190px;
  }

  .activites-card-5 img
  {
    height: 135px;
  }

  .activites-card-6
  {
    width: 330px;
    height: 190px;
    margin-top: 25px;
  }

  .activites-card-6 img
  {
    height: 135px;
  }

  .activites-box h3
  {
    font-size: 17px;
    margin-top: 4%;
  }

  #footer-box
  {
    flex-direction: column;
    padding: 12% 0 10% 0;
    margin-top: 10%;
  }

  .footer-menu
  {
    margin-bottom: 6%;
    margin-left: 6%;
    width: 90%;
  }

}